<section class="post-comments wow fadeInUp" data-wow-duration=".8s">
  <h4>Comments</h4>
  <div id="disqus_thread"></div>

  <script type="text/javascript">
    // Use the post.id as indentifier
    var disqus_identifier = '{{comment_id}}';
     (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_identifier + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>
</section>
 