<footer class="site-footer">
  <div class="copyright">
    &copy; <a href="{{@blog.url}}">{{@blog.title}}</a> {{date format="YYYY"}}.
  </div>

  <h1> <a href="#" class="scroll-top">^</a> </h1>
</footer>
